Lexer.hs
ExpParser.hs
FieldInfo.hs
Main
*.hi
*.o
*.dyn_hi
*.dyn_o
.stack-work
.cabal-sandbox
cabal.sandbox.config
cabal.config

*.gz
*.log
*.DS_Store
*.aux
TAGS
*.pdf
*.fdb_latexmk
*.fls
*~
*.out
*.sublime-*
*.pyc

/vars.sh
/epics/
*.ok
/build/
